# DataFrame

In [1]:
import pandas as pd 
import numpy as np

## Criando dataframe

### Criando dataframe com listas/dicioários

In [10]:
s1 = pd.Series([1,2,3,4], name = "C1")
s2 = pd.Series([10,20,30,40], name = "C2")

# Devemos passar como bibliotecas para o convesor funcione
pd.DataFrame({s1.name: s1 ,s2.name: s2})

   C1    C2
0   1  10.0
1   2  20.0
2   3  30.0
3   4   NaN

In [11]:
df = pd.DataFrame({s1.name: s1 ,s2.name: s2})

In [16]:
df.columns # Vendo colunas

Index(['C1', 'C2'], dtype='object')

In [17]:
(df.index)  # Vendo indices

RangeIndex(start=0, stop=4, step=1)

In [26]:
lista1 = [1000,2,1,2,21,1,1]
lista2 = [51,12,15,32,15,2,5]

In [28]:
dic = {"a":lista1, "b":lista1 }

In [40]:
dic

{'a': [10, 2, 1, 2, 21, 1, 1], 'b': [10, 2, 1, 2, 21, 1, 1]}

In [39]:
lista1[0] = 10

In [42]:
a = pd.DataFrame(dic)  # Criando df a partir de dicionário

In [43]:
a

    a   b
0  10  10
1   2   2
2   1   1
3   2   2
4  21  21
5   1   1
6   1   1