# Series

In [10]:
import pandas as pd 
import numpy as np

## Maneiras de se criar uma série

### Criando a partir de uma lista

In [11]:
# pd.Series([10,12,53,66,85]) dtype: int 
# pd.Series([0.1,88,6,6]) dtype: float
# pd.Series(["0","1","3"]) dtype: object
# pd.Series([1,"5","cafe"]) dtype: object

In [15]:
lista = pd.Series(np.random.rand(3), index = ["A","B","C"], name = "Numeros aleatórios")

### Criando a partir de um dicionário

In [16]:
diconario = pd.Series({"a":1,"b":8,"c": 32})

## Realizando buscas

### Busca em séries

In [26]:
lista

A    0.380575
B    0.208105
C    0.127936
Name: Numeros aleatórios, dtype: float64

In [40]:
lista[1:2]

B    0.208105
Name: Numeros aleatórios, dtype: float64

In [27]:
diconario['a':'c']

a     1
b     8
c    32
dtype: int64

## Tipos

In [42]:
seriecomnome = pd.Series(np.random.randn(5),name = "Estevão")

In [46]:
type(seriecomnome) # pandas.core.series.Series
type(seriecomnome[0]) # numpy.float64
type(seriecomnome.array) # pandas.core.arrays.numpy_.PandasArray

pandas.core.arrays.numpy_.PandasArray

## Operações matemáticas

In [58]:
a = pd.Series (np.random.randn(5))
b = pd.Series (np.random.randn(5))

In [64]:
b

0    0.861720
1    0.699628
2    0.910061
3    0.089870
4   -0.089730
dtype: float64

In [63]:
a

0    0.972288
1    0.309926
2   -0.304799
3    1.084182
4   -0.947844
dtype: float64

In [60]:
a * b

0    0.837841
1    0.216833
2   -0.277386
3    0.097436
4    0.085050
dtype: float64

In [61]:
# Média de a 
np.average(a)

0.22275066140200322

In [62]:
# Desvio Padrão 
np.std(b)

0.413441338533967

## Filtros

In [65]:
a > 1

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [71]:
a[[False,False,True,False,False]]

2   -0.304799
dtype: float64

In [76]:
import os 
from pathlib import Path

In [80]:
os.getcwd()
p = Path(os.getcwd())
pd.read_csv(str(p.parent) + '\\data\\houses_to_rent.csv')

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"