In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
p = os.getcwd()
base = Path(p).parent
data = pd.read_csv(str(base)+"\\data\\houses_to_rent.csv")

In [5]:
data.head(2)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB

In [7]:
# Podemos criar um dicionário de dados e salvá-los na pasta dos arquivos
# 1 - Cada coluna da biblioteca, a descrição da coluna da base

b1 = {
    "city": ["Cidade onde o imóvel está localizado"],
    "area": ["Área, em m², do imóvel"],
    "rooms": ["Quantidade de quartos"]
}

In [8]:
b1_df = pd.DataFrame(b1)

In [9]:
b1_df.to_csv("Biblioteca V1.csv")

In [16]:
b1_df

,city,area,rooms
0,Cidade onde o imóvel está localizado,"Área, em m², do imóvel",Quantidade de quartos

In [10]:
# Cada coluna, uma característica
b2 = {
    "nome_coluna": ["city", "area", "rooms"],
    "descricao": ["Cidade onde o imóvel está localizado", "Área, em m², do imóvel", "Quantidade de quartos"],
    "tipo_dado": ["Numérico (catergórico)", "Numérico", "Quantitativo"],
    "tipo_dado_np": ["Int64", "Int64", "Int64"]

}

In [11]:
b2_df = pd.DataFrame(b2)

In [12]:
b2_df.to_csv("Biblioteca V2.csv")

In [15]:
b2_df

,nome_coluna,descricao,tipo_dado,tipo_dado_np
0,city,Cidade onde o imóvel está localizado,Numérico (catergórico),Int64
1,area,"Área, em m², do imóvel",Numérico,Int64
2,rooms,Quantidade de quartos,Quantitativo,Int64