In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
p = os.getcwd()
base = Path(p).parent
data = pd.read_csv(str(base)+"\\data\\houses_to_rent.csv")

In [3]:
data.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [4]:
datacopy = data.copy()

In [5]:
data.memory_usage(deep = True)

Index                128
Unnamed: 0         48640
city               48640
area               48640
rooms              48640
bathroom           48640
parking spaces     48640
floor             354071
animal            382616
furniture         419272
hoa               379216
rent amount       389125
property tax      374694
fire insurance    371753
total             389956
dtype: int64

In [6]:
datacopy.head(1)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"

In [13]:
datacopy["area"] = data["area"].astype(np.int8)
datacopy["rooms"] = data["rooms"].astype(np.int8)
datacopy["bathroom"] = data["bathroom"].astype(np.int8)
datacopy["parking spaces"] = data["parking spaces"].astype(np.int8)

In [14]:
datacopy["city"] = data["city"].astype("category")
datacopy["animal"] = data["animal"].astype("category")
datacopy["furniture"] = data["furniture"].astype("category")

In [15]:
datacopy.memory_usage(deep=True)

Index                128
Unnamed: 0         48640
city                6204
area                6080
rooms               6080
bathroom            6080
parking spaces      6080
floor             354071
animal              6316
furniture           6324
hoa               379216
rent amount       389125
property tax      374694
fire insurance    371753
total             389956
dtype: int64

In [16]:
datacopy.memory_usage(deep=True) / data.memory_usage(deep=True)

Index             1.000000
Unnamed: 0        1.000000
city              0.127549
area              0.125000
rooms             0.125000
bathroom          0.125000
parking spaces    0.125000
floor             1.000000
animal            0.016507
furniture         0.015083
hoa               1.000000
rent amount       1.000000
property tax      1.000000
fire insurance    1.000000
total             1.000000
dtype: float64