In [1]:
import pandas as pd
import numpy as np

# Indexação

## Series

In [2]:
serie = pd.Series(['tom', 'krish', 'nick', 'juli'],name = "Nomes")

In [14]:
df = pd.DataFrame(serie)
df.Nomes = [ x.title() for x in df.Nomes.tolist() ]
df

   Nomes
0    Tom
1  Krish
2   Nick
3   Juli

## Data Frame

In [27]:
D = pd.DataFrame(np.random.rand(3,5),index=[1,2,3], columns= [*"ABCDE"])

In [28]:
D

          A         B         C         D         E
1  0.982899  0.968585  0.746451  0.373679  0.118395
2  0.966401  0.851555  0.274852  0.847317  0.638966
3  0.185251  0.640718  0.363863  0.424097  0.175111

In [29]:
data = pd.date_range("11/22/2021",periods=3)

In [34]:
D.index = data