In [1]:
import pandas as pd 
import numpy as np

# Seleção

In [5]:
# importando alfabeto
import string 
alfabeto = list(string.ascii_lowercase[:])

In [7]:
# Criando dataframe
df = pd.DataFrame(np.random.randn(10,5),index = alfabeto[0:10],columns = [*'ABCDE'])

In [8]:
df

          A         B         C         D         E
a  0.999907  0.542724  0.683699  1.840564  1.186243
b -1.173224  0.035677  1.523499  1.461104  0.014868
c  0.512358 -0.434103 -0.737349  0.538699 -0.758954
d  0.167782  1.348853  1.902282 -0.115175 -0.421744
e -0.020924  1.447968  0.685402 -0.386027  0.115318
f -1.409356 -1.606794  2.847657  0.079073 -0.064962
g  0.683453 -1.031158  3.314829 -0.762854  0.511909
h -0.964558 -0.481802  0.148190  0.051619 -1.059853
i -0.479116  0.867927  0.081913 -0.881176 -0.871271
j -0.365603 -0.771038  2.256193  0.352818  0.093450

## loc

### loc[row_indexer, column_indexer]

In [12]:
df.loc["a":"c","A":"C"]

          A         B         C
a  0.999907  0.542724  0.683699
b -1.173224  0.035677  1.523499
c  0.512358 -0.434103 -0.737349

In [14]:
df.loc["a"]

A    0.999907
B    0.542724
C    0.683699
D    1.840564
E    1.186243
Name: a, dtype: float64

In [16]:
df.loc[["a", "b"]]

          A         B         C         D         E
a  0.999907  0.542724  0.683699  1.840564  1.186243
b -1.173224  0.035677  1.523499  1.461104  0.014868

In [17]:
df.loc["a":"c", "A"]

a    0.999907
b   -1.173224
c    0.512358
Name: A, dtype: float64

In [18]:
df.loc["b":, "A":"C"]

          A         B         C
b -1.173224  0.035677  1.523499
c  0.512358 -0.434103 -0.737349
d  0.167782  1.348853  1.902282
e -0.020924  1.447968  0.685402
f -1.409356 -1.606794  2.847657
g  0.683453 -1.031158  3.314829
h -0.964558 -0.481802  0.148190
i -0.479116  0.867927  0.081913
j -0.365603 -0.771038  2.256193

# iloc

## iloc[row_indexer, column_indexer]

In [21]:
# a única diferençã é que os índicies são numéricos 
df.iloc[0:3,0:3]

          A         B         C
a  0.999907  0.542724  0.683699
b -1.173224  0.035677  1.523499
c  0.512358 -0.434103 -0.737349

In [23]:
df.iloc[0]

A    0.999907
B    0.542724
C    0.683699
D    1.840564
E    1.186243
Name: a, dtype: float64

In [28]:
df.iloc[range(0,2)]

          A         B         C         D         E
a  0.999907  0.542724  0.683699  1.840564  1.186243
b -1.173224  0.035677  1.523499  1.461104  0.014868

In [34]:
df.iloc[range(0,3), range(0,2)]

          A         B
a  0.999907  0.542724
b -1.173224  0.035677
c  0.512358 -0.434103

In [37]:
df.index = [* range(0,len(df))]

In [41]:
df.loc[1:3]

          A         B         C         D         E
1 -1.173224  0.035677  1.523499  1.461104  0.014868
2  0.512358 -0.434103 -0.737349  0.538699 -0.758954
3  0.167782  1.348853  1.902282 -0.115175 -0.421744